.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px;
}

.contents {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 50px;
}